.custom-select {
  position: relative;
  cursor: pointer;
  background: tomato;
}
.custom-select__selected {
  border: 1px solid #ccc;
  padding: 10px;
}
.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  display: none;
}
.custom-select__options--visible {
  display: block;
}
.custom-select__option {
  padding: 10px;
}
.custom-select__option:hover {
  background-color: #f8f8f8;
}




